/* ========================
   SIGN UP & SIGN IN
======================== */

.auth-page {
  background-color: var(--color-midnight-primary-soft);
  padding: 1rem;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* card */

.auth-card {
  position: relative;
  width: 500px;
  min-height: 545px;
  padding: 3rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.auth-card.signup {
  min-height: 625px;
}

/* card content */

.auth-card-content {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.auth-card-title {
  width: 100%;
  display: block;
  text-align: left;

  color: var(--color-midnight-primary);
}

/* card footer */

.auth-card-footer {
  background-color: #f6f9fc;
  width: 490px;
  padding: 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 5px;

  border-radius: 10px;
}

/* form */

.auth-form {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.auth-fields {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-card-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.auth-card-field label {
  color: var(--color-midnight-primary-soft);
  font-size: 0.9rem;
  font-weight: 500;
}

.auth-card-field a {
  font-size: 0.9rem;
  font-weight: 500;
}

.has-account {
  font-size: 0.95rem;
}

.has-account a {
  color: var(--color-midnight-accent);
  font-weight: 500;
}

.has-account a:hover {
  text-decoration: underline;
  color: var(--color-midnight-accent-strong);
}

/* oauth */

.oauth-section {
  width: 100%;
}

.oauth-btn-content {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.oauth-section .btn {
  width: 100%;
  height: 45px;
  padding: 0.5rem;

  border: 1px solid #dadce0;
  color: black;
  background-color: transparent;

  transition: box-shadow 0.15s ease;
}

.oauth-section .btn:hover {
  box-shadow: 0 0 0 1px #bab9b9;
}

.oauth-section .btn:focus {
  background-color: #efefef;
}

.oauth-section span {
  font-size: 1rem;
}

.btn-icon {
  width: 24px;
  height: 24px;
}

/* guest */

.btn-guest {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-guest:hover {
  text-decoration: underline;
}

/* fields */

.field-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.field-wrapper .icon {
  position: absolute;
  left: 0.5rem;
  opacity: 0.5;
  pointer-events: none;

  transition: color 0.15s ease;
}

.field-wrapper input {
  width: 100%;

  padding: 0.8rem 2rem;
  font-size: 1rem;
}

.field-wrapper:focus-within i {
  color: var(--color-midnight-accent-strong);
}

.password-label {
  display: flex;
  justify-content: space-between;
}

.password-label a {
  color: var(--color-midnight-accent);
}

.password-label a:hover {
  color: var(--color-midnight-accent-strong);
}

.field-wrapper:focus-within .pass-visibility {
  display: block;
}

.pass-visibility {
  position: absolute;
  right: 0.5rem;
}

.field-wrapper .password {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.4rem;

  transition: background-color 0.15s ease;
}

.field-wrapper .password:hover {
  background-color: #eeeeee5e;
}

.field-wrapper .password:active {
  background-color: #c5c5c55e;
}

/* divider */

.auth-divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  /* margin: 0.8rem 0; */
  color: #878787;
  font-size: 0.7rem;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  flex: 1;
  height: 1px;
  opacity: 0.5;
  background-color: #878787;
}

.auth-divider::before {
  margin-right: 0.5rem;
}

.auth-divider::after {
  margin-left: 0.5rem;
}

.auth-divider span {
  text-transform: uppercase;
  font-weight: 500;
}
