/* ========================
   PAGE
======================== */

.profile-page {
  width: 100%;
  min-height: 900px;

  display: flex;
  flex-direction: column;
}

/* ========================
   HERO
======================== */

/* user avatar and info */

.identity-section {
  width: 100%;
  min-height: 225px;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;

  background-color: var(--color-midnight-primary-soft);

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.identity-header {
  min-width: 50%;
  height: 100px;

  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;

  transform: translateX(15%);
}

.identity-info {
  min-width: 0;

  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.identity-section .username {
  font-size: 2rem;
  font-weight: 700;

  color: white;
}

.identity-section .email {
  font-size: 0.85rem;
  letter-spacing: 0.5px;

  color: white;
}

.avatar-profile {
  width: 100px;
  height: 100px;
  border-radius: 50%;

  font-size: 2.6rem;
  font-weight: 600;

  background-color: var(--color-midnight-accent);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

/* subpages */

.profile-subpages-wrapper {
  position: absolute;
  left: 60%;
  bottom: 0;
}

.profile-subpages {
  display: flex;
  gap: 0.1rem;
  list-style: none;
}

.subpage:last-child {
  border-top-right-radius: 10px;
}

.subpage:first-child {
  border-top-left-radius: 10px;
}

.subpage {
  padding: 0.8rem 1rem;

  background-color: var(--color-midnight-primary);
  color: white;
  font-weight: 500;
  cursor: pointer;

  transition: background-color 0.25s ease;
}

.subpage.active {
  background-color: var(--color-midnight-accent-strong);
}

.subpage:hover {
  background-color: var(--color-midnight-accent);
}

.subpage:active {
  background-color: var(--color-midnight-accent-strong);
}

/* ========================
   CONTENT
======================== */

.profile-content {
  width: 75%;
  padding: 3rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* table */

/* table wrapper */
.profile-section {
  min-height: 450px;
  padding: 1.5rem;
}

.table-header {
  padding-bottom: 10px;
}

.table-header .title {
  padding-bottom: 0.5rem;
  font-size: 1.4rem;
}

.profile-table {
  width: 100%;
  font-size: 0.9rem;
  table-layout: fixed;
  border-collapse: collapse;
}

.profile-table.is-empty {
  height: 400px;
}

.profile-table.is-empty tbody tr:hover {
  background-color: transparent;
}

.profile-table thead {
  border-bottom: 1px solid #e5e5e5;
}

.profile-table thead th {
  border: none;
  color: #444;
  font-weight: 600;
  text-align: left;
  padding-bottom: 5px;
  padding: 0.1rem 0.5rem;
}

.profile-table tbody {
  height: 100%;
}

.profile-table tbody tr {
  transition: background-color 0.15s ease;
}

.profile-table tbody tr:hover {
  background-color: #f7f7f7;
}

.profile-table tbody td {
  text-align: left;
  padding: 0.5rem;
}

.profile-table th:last-child,
.profile-table td:last-child {
  text-align: right;
}

.profile-table td.title {
  min-width: 500px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: 500;
}

/* empty state */

.empty-row {
  height: 100%;
}

.empty-row td {
  height: 100%;
}

.empty-state {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;

  animation: fadeIn 0.75s ease forwards;
}

.empty-state img {
  padding-left: 1.1rem;
  width: 120px;
}

.empty-state p {
  text-align: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(5px);
  }
  to {
    opacity: 0.5;
    transform: translateY(0);
  }
}

/* ========================
   SETTINGS
======================== */

.profile-settings {
  margin: 0 auto;
}

/* info card */

.info-card {
  min-width: 1000px;
  padding: 1.5rem 0;

  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.row {
  padding: 0 1.8rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.row div {
  display: flex;
  align-items: center;
}

.info-card-title {
  color: var(--color-midnight-primary);
  font-size: 1.4rem;
}

.row-label {
  color: var(--color-midnight-primary);
  font-size: 1rem;
  font-weight: 700;
  min-width: 160px;
}

.row-value {
  color: var(--color-midnight-primary-soft);
  font-size: 0.9rem;
}

.card-divider {
  border-bottom: 1px dashed #eee;
}

/* modal */

.model-content.profile form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.model-content.profile .inputs {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
