:root {
  /* Colors */
  --color-primary: #2a4d69; /*  */
  --color-primary-light: #4b86b4; /* hover & highlights */
  --color-accent: #f18f01; /* buttons, call to action */
  --color-accent-light: #eb9c27;
  --color-background: #f7f9fa; /*  */
  --color-surface: white; /* cards, tables*/
  --color-text-primary: #1a1a1a; /* high readability */
  --color-text-secondary: #555555; /* labels, descriptions */
  --color-success: #4caf50;

  --violet-50: #f6f5ff;
  --violet-100: #edebfe;
  --violet-200: #f6f5ff;
  --violet-300: #cabffd;
  --violet-400: #ac94fa;
  --violet-500: #9061f9;
  --violet-600: #7e3af2;
  --violet-700: #6c2bd9;
  --violet-800: #5521b5;
  --violet-900: #4a1d96;

  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #e5e7eb;
  --gray-300: #d1d5db;
  --gray-400: #9ca3af;
  --gray-500: #6b7280;
  --gray-600: #4b5563;
  --gray-700: #374151;
  --gray-800: #1f2937;
  --gray-900: #111827;

  /* Typography */
  --font-size-page-title: 2rem;
  --font-size-section-header: 1.5rem;
  --font-size-card-title: 1rem;
  --font-size-card-text: 0.75rem;
  --font-size-info: 0.5rem;

  /* Spacing */
  --space-2: 0.125rem;
  --space-4: 0.25rem;
  --space-8: 0.5rem;
  --space-12: 0.75rem;
  --space-16: 1rem;
  --space-24: 1.5rem;
  --space-32: 2rem;

  /* Radius */
  --radius-sm: 0.25rem; /* input fields */
  --radius-md: 0.5rem; /* primary buttons, cards */
  --radius-lg: 0.75rem; /*  */
  --radius-pill: 999rem; /* badges, tags */

  /* Shadows */
  --shadow-sm: 0 1px 2px rgba(0, 0, 0, 0.06); /* button on hover */
  --shadow-md: 0 2px 8px rgba(0, 0, 0, 0.1); /* cards, list items */
  --shadow-lg: 0 4px 16px rgba(0, 0, 0, 0.12); /* */

  /* transitions */
  --transition-fast: 120ms;
  --transition-medium: 120ms;
  --transition-slow: 300ms;

  /* Fonts */
  --font-family-inter: "Inter", sans-serif; /* body */
  --font-family-merriweather: "Merriweather", serif; /* heading */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-background);
  font-family: var(--font-family-inter);
  min-height: 100vh;
}

a {
  text-decoration: none;
  color: black;
}

/* ========================
   NAVBAR
======================== */

.navbar {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-md);
  padding: 0.5rem;
}

.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 1rem;
  max-width: 1300px;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 0.4rem;
}

.navbar-brand img {
  width: 38px;
  height: 38px;
}

.navbar-brand span {
  font-size: 1.375rem;
  font-weight: 600;
}

.avatar-dropdown {
  position: relative;
}

.avatar-sm {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;

  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-menu {
  position: absolute;
  z-index: 9999;
  right: 0;
  top: 110%;
  background-color: white;
  list-style: none;
  padding: 0.5rem 0;
  margin: 0;
  width: 160px;
  border-radius: 8px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);

  display: block;
  opacity: 0;
  transform: translateY(-10);
  transition: opacity 200ms ease, transform 200ms ease;
  pointer-events: none;
}

.avatar-menu.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.avatar-menu li {
  padding: 0;
  font-size: 1rem;
}

/* Select .menu-item elements that do NOT have the class .hidden */
.avatar-menu .menu-item:not(.hidden) {
  width: 90%;
  margin: 0 0.6rem;
  padding: 0.6rem 1rem;
  border-radius: 8px;
  text-align: left;
  border: none;
  background-color: none;
  cursor: pointer;
  display: block;
}

.avatar-menu button {
  width: 100%;
  text-align: left;
}

.avatar-menu li:hover,
.avatar-menu button:hover {
  background-color: #f2f2f2;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 0.3rem 0;
}

/* ========================
   HOMEPAGE CONTENT
======================== */

.homepage-content {
  display: flex;
  flex-direction: column;
  padding: 1rem 5rem;
}

/* search all books bar */
.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-input-wrapper {
  position: relative;
  width: 100%;
  max-width: 520px;

  display: flex;
  align-items: center;
}

.search-icon {
  position: absolute;
  left: 10px;
  cursor: default;
  bottom: 10px;
}

.search-all-field {
  width: 100%;
  padding: 0.6rem 2.3rem;
  font-size: 1rem;
  border-radius: var(--radius-sm);
  border-style: none;
  transition: border-color 0.1s ease, box-shadow 0.1s ease;

  border: 1px solid #ccc;

  caret-color: var(--color-accent);
}

.search-all-field:focus {
  border-color: var(--color-accent);
  border: 1px solid var(--color-accent);
  outline: none;
}

.clear-search-btn {
  right: 10px;
  position: absolute;
  cursor: pointer;
  color: rgb(234, 132, 132);
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 999px;
  background-color: transparent;
  border: 1px solid rgb(234, 132, 132);
  transition: opacity 0.15s ease;
  opacity: 0;
}

.search-all-field:not(:placeholder-shown) + .clear-search-btn {
  opacity: 1;
}

.search-all-field:not(:placeholder-shown)::placeholder {
  opacity: 0;
}

#search-btn {
  padding: 0.7rem;
}

/* books grid */
.all-books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
  width: 100%;
}

.book-container {
  height: 300px;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.6rem;

  transform: translateY(0);
  transition: var(--transition-slow);
}

.book-container:hover {
  transform: translateY(-5px);
  box-shadow: var(--shadow-lg);
  transition: var(--transition-slow);
}

.book-img {
  width: 140px;
  height: 180px;
  object-fit: cover;
  border-radius: var(--radius-md);

  border: 2px solid #ccc;
}

.book-title {
  font-size: 0.9rem;
  font-weight: 600;

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.book-author {
  color: var(--color-primary-light);
  margin-top: auto;
  font-size: 0.8rem;

  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* ========================
   SIGN UP & SIGN IN
======================== */

.auth-page {
  padding: 1rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  width: 100%;
  max-width: 450px;
  min-height: 500px;
  padding: 1.3rem 3.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.auth-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  text-align: center;
}

.auth-header {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.auth-header .navbar-brand {
  padding-bottom: 0.5rem;
}

.auth-fields {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.has-account a {
  color: var(--color-accent);
  font-weight: 500;
}

.oauth-section {
  width: 100%;
}

.oauth-section .btn {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid black;
  color: black;
  background-color: transparent;
  gap: 0.6rem;
}

.oauth-section span {
  font-size: 1rem;
}

.btn-icon {
  width: 28px;
  height: 28px;
}

.btn-guest {
  background: none;
  border: none;
  color: var(--color-primary);
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-guest:hover {
  text-decoration: underline;
}

/* ========================
   BOOK DETAILS
======================== */

.book-page {
  max-width: 900px;
  min-height: 350px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-details {
  padding: 2rem;
  min-height: 380px;
  display: flex;
  gap: 2rem;
}

.img-availability {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.available {
  font-weight: 600;
  font-size: 0.8rem;
  color: var(--color-success);
  background-color: transparent;
  border: 2px solid var(--color-success);
  border-radius: var(--radius-pill);
  width: 80px;
  padding: 0.2rem 0.6rem;
}

.unavailable {
  font-weight: 500;
  font-size: 0.8rem;
  color: red;
  background-color: white;
  border: 2px solid red;
  border-radius: var(--radius-pill);
  width: 80px;
}

.book-details-img {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: var(--radius-md);

  border: 2px solid #ccc;
}

.book-info {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-texts {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.book-actions {
  margin-top: auto;
}

.book-meta {
  display: grid;
  gap: 1rem;
}

.meta-row {
  display: grid;
  grid-template-columns: 100px 20px 1fr;
  align-items: start;
}

.meta-label {
  font-weight: 500;
  color: #555;
}

.meta-colon {
  text-align: center;
}

.meta-value {
  color: #222;
}

.book-description-card {
  min-height: 250px;
  padding: 2rem;
}

.book-description-card span {
  color: var(--color-accent);
}

.description {
  font-size: 1rem;
  padding-top: 0.8rem;
  line-height: 1.5;
}

/* ========================
   PROFILE
======================== */

.profile-page {
  height: calc(100vh - 54px);
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
}

.identity-card {
  width: 700px;
  min-height: 180px;
  margin-top: 1rem;
  padding: 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4rem;
}

.identity-header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-accent);
  color: #fff;

  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 0.9rem;
}

.identity-card .username {
  font-size: 1.4rem;
  font-weight: 600;
}

.identity-card .email {
  font-size: 0.95rem;
  color: #666;
}

.identity-card .joined {
  font-size: 0.85rem;
  color: #999;
  margin-top: 0.5rem;
  padding-top: 0.6rem;
  border-top: 1px solid #eee;
}

/* borrowings */
.user-active-borrowings {
  max-width: 700px;
  min-height: 325px;
  padding: 1.5rem;
}

.user-books {
  width: 100%;
  font-size: 14px;
  table-layout: fixed;
  border-collapse: collapse;
}

.table-header .title {
  padding-bottom: 0.5rem;
  font-size: 1rem;
}

.user-books thead {
  border-bottom: 1px solid #e5e5e5;
}

.user-books thead th {
  border: none;
  color: #444;
  font-weight: 600;
  text-align: left;
  padding-bottom: 5px;
}

.user-books tbody tr {
  height: 30px;
}

.user-books tbody td {
  text-align: left;
  padding: 8px 0;
}

.user-books td.title {
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.active {
  background-color: var(--color-success);
  border-radius: var(--radius-pill);
  padding: 0.3rem;
  font-size: 0.8rem;
}

.overdue {
  background-color: rgb(215, 132, 132);
  border-radius: var(--radius-pill);
  padding: 0.3rem;
  font-size: 0.8rem;
}

.user-books tbody tr:last-child {
  border-bottom: none;
}

.table-header {
  padding-bottom: 10px;
}

.user-books th:nth-child(1),
.user-books td:nth-child(1) {
  width: 5%; /* ID */
}

.user-books th:nth-child(2),
.user-books td:nth-child(2) {
  width: 30%; /* Title */
}

.user-books th:nth-child(3),
.user-books td:nth-child(3) {
  width: 25%; /* Borrowing Date */
}

.user-books th:nth-child(4),
.user-books td:nth-child(4) {
  width: 20%; /* Due Date */
}

.user-books th:nth-child(5),
.user-books td:nth-child(5) {
  width: 15%; /* Action */
}

.user-books th:nth-child(6),
.user-books td:nth-child(6) {
  width: 10%; /* Action */
}

.user-books.favorites th:nth-child(1),
.user-books td:nth-child(1) {
  width: 85%;
}

.user-books.favorites th:nth-child(2),
.user-books td:nth-child(2) {
  width: 15%;
}

/* ========================
   MANAGE BOOKS
======================== */

.manage-page {
  padding: 1rem 4rem;
}

.manage-books-card {
  padding: 1rem;
}

/* add book model */
.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  min-width: 525px;
}

.book-form-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  gap: 0.5rem;
}
/* book img */
.file-upload {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.file-btn {
  padding: 0.5rem 1rem;
  cursor: pointer;
  background-color: #4f46e5;
  color: #fff;
  border-radius: 6px;
  font-size: 0.9rem;
}

.file-name {
  font-size: 0.85rem;
  color: #6b7280;
}

.table-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5rem;
}

.header-title {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.field-search-table {
  border-radius: 999px;
  padding: 0.8rem 1rem;
  height: 30px;
  min-width: 300px;
  outline: none;
  border: 1px solid var(--gray-500);
}

.table-title {
  font-size: 1.7rem;
}

.manage-books-table {
  width: 100%;
  text-align: left;
  min-height: 300px;
  border-collapse: collapse;
}

.manage-books-table td {
  text-align: left;
  padding: 8px 0;
}

.manage-books-table td.title {
  max-width: 260px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.manage-books-table thead {
  border-bottom: 1px solid var(--gray-600);
}

.manage-books-table tbody tr {
  height: 30px;
}

.manage-books-table tbody tr:hover {
  background-color: #fafafa;
}

.manage-books-table th:nth-child(1),
.manage-books-table td:nth-child(1) {
  width: 5%;
}

.manage-books-table th:nth-child(2),
.manage-books-table td:nth-child(2) {
  width: 42.5%;
}

.manage-books-table th:nth-child(3),
.manage-books-table td:nth-child(3) {
  width: 32.5%;
}

.manage-books-table th:nth-child(4),
.manage-books-table td:nth-child(4) {
  width: 10%;
}

.manage-books-table th:nth-child(5),
.manage-books-table td:nth-child(5) {
  width: 10%;
}

/* ========================
   MANAGE USERS
======================== */

.manage-users-card {
  padding: 1rem;
}

.manage-users-table {
  width: 100%;
  text-align: left;
  min-height: 100px;
  border-collapse: collapse;
}

.manage-users-table thead {
  border-bottom: 1px solid var(--gray-600);
}

.manage-users-table td {
  text-align: left;
  padding: 8px 0;
}

.manage-users-table tbody tr:hover {
  background-color: #fafafa;
}

/* add model */

.add-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  height: 250px;
}

/* edit model */

.edit-user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 400px;
  height: 175px;
}

.model {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.model-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  border-radius: var(--radius-sm);
  background-color: white;
  text-align: center;
  margin: 10% auto;
  padding: 1rem;
}

.field-model {
  padding: 0.8rem;
  width: 100%;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-sm);
  transition: border-color 0.1s ease;
  font-size: 0.9rem;
}

.field-model:focus {
  border: 1px solid var(--color-accent);
  outline: none;
}

.field-model::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
}

.model-buttons {
  display: flex;
  gap: 0.5rem;
  width: 100%;
}

.btn-model {
  width: 50%;
  padding: 0.5rem;
}

/* ========================
   MANAGE BORROWINGS
======================== */

.manage-borrowings-card {
  padding: 1rem;
}

.manage-borrowings-table {
  width: 100%;
  text-align: left;
  min-height: 100px;
  border-collapse: collapse;
}

.manage-borrowings-table thead {
  border-bottom: 1px solid var(--gray-600);
}

.manage-borrowings-table td {
  padding: 8px 0;
}

.manage-borrowings-table tbody tr {
  height: 30px;
}

.manage-borrowings-table tbody tr:hover {
  background-color: #fafafa;
}

.filters-menu {
  padding: 0.35rem 0.9rem;
  font-size: 0.85rem;
  border-radius: 999px;
  cursor: pointer;
}

/* ========================
   TOAST
======================== */

.toast {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 15px 20px;
  background-color: var(--color-success);
  color: white;
  border-radius: 8px;
  font-size: 16px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.4s ease, transform 0.4s ease;
  transform: translateY(-20px);
  z-index: 9999;
}

.toast.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* ========================
   CARDS
======================== */

.card-lg {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-lg);
}

.card-md {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-md);
}

.card-sm {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-sm);
  border-radius: var(--radius-sm);
}

.form-card {
  background-color: var(--color-surface);
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-sm);
}

/* ========================
   BUTTONS
======================== */

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  padding: 0.5rem 0.9rem;
  border-radius: var(--radius-sm);
  font-size: 0.95rem;
  font-weight: 500;

  cursor: pointer;
  border: none;
  transition: background-color 0.2s ease, color 0.2s ease;
}

.btn-text {
  cursor: pointer;
  border: none;
  font-size: 1rem;
  background: transparent;
}

.btn-action {
  padding: 0.35rem 0.7rem;
  font-size: 0.85rem;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  border: none;
  transition: background-color 0.2s ease;
}

.btn-action:hover {
  background-color: var(--color-primary-light);
}

.btn-full {
  width: 100%;
  padding: 0.8rem;
}

.btn-primary {
  background-color: var(--color-primary);
  color: white;
}

.btn-primary:hover {
  background-color: var(--color-primary-light);
}

.btn-outline {
  background-color: transparent;
  border: 1px solid var(--color-primary-light);
  color: var(--color-primary-light);
}

.btn-outline:hover {
  background-color: var(--color-primary);
  color: white;
}

.btn-danger {
  background-color: #ef4444;
  color: white;
}

.btn-danger:hover {
  background-color: #dc2626;
}

/* ========================
   FIELDS
======================== */

.field {
  padding: 0.8rem;
  min-width: 300px;
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  border-radius: var(--radius-sm);
  transition: border-color 0.1s ease;
  font-size: 0.9rem;
}

.field:focus {
  border: 1px solid var(--color-accent);
  outline: none;
}

.field::placeholder {
  font-size: 0.9rem;
  font-weight: 400;
}

/* ========================
   LOGGED USER
======================== */

.logged-user-info {
  display: flex;
  gap: 1rem;
}

.logged-user-info a {
  color: var(--color-accent);
}

/* ========================
   OVERVIEW
======================== */

.admin-page {
  padding: 1rem;
  min-height: calc(100vh - 54px);
}

.overview {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.overview-info {
  padding: 0.9rem;
  height: 120px;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  transition: 0.2s ease;
}

.overview-info:hover {
  box-shadow: var(--shadow-lg);
  transform: translateY(-4);
}

.overview-info-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* total count cards */
.overview-info-data {
  font-size: 1.8rem;
  color: var(--color-primary);
  font-weight: 700;
}

.overview-info-title {
  font-size: 0.9rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--gray-400);
}

.overview-info-actions {
  margin: auto 0;
}

/* Recent Activity */
.recent-activity-section {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 1rem;
}

.recent-activity-wrapper {
  padding: 1rem;
}

.list-header {
  display: flex;
  justify-content: space-between;
}

.list-header.title {
  font-size: 1.2rem;
  font-weight: 700;
}

.recent-activity-list {
  list-style: none;
  padding-top: 0.9rem;
}

.recent-activity-list li {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.2rem;
  border-bottom: 1px solid #f2f2f2;
  cursor: default;
}

.recent-activity-list li:hover {
  background-color: #f2f2f2;
  box-shadow: var(--shadow-sm);
}

.activity-date {
  color: #6b7280;
  font-size: 0.85rem;
  white-space: nowrap;
}

.user {
  color: var(--color-primary);
  font-weight: 700;
}

.book {
  font-style: italic;
  color: #374151;
}

.all-activity-link {
  cursor: pointer;
  font-size: 1rem;
}

/* ========================
   ALL ACTIVITY
======================== */

.all-activity-page {
  padding: 1rem 5rem;
}

.all-activity-section {
  padding: 1rem;
}

/* ========================
   Media Query
======================== */

@media (max-width: 500px) {
  /* NAVBAR */
  .navbar-container {
    flex-direction: column;
    gap: 0.7rem;
  }

  .navbar-buttons {
    width: 100%;
    justify-content: center;
  }

  .navbar-brand span {
    font-size: 1.125rem;
  }

  .navbar-brand img {
    width: 32px;
    height: 32px;
  }

  /* ------------ */
  .search-field {
    width: 100%;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .grid-4 {
    grid-template-columns: 1fr;
  }
}

/* ========================
   Helpers
======================== */

.hidden {
  display: none;
}

.auth-divider {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  margin: 0.8rem 0;
  color: var(--color-accent-light);
  font-size: 0.9rem;
}

.auth-divider::before,
.auth-divider::after {
  content: "";
  flex: 1;
  height: 1.5px;
  opacity: 0.4;
  background-color: var(--color-accent-light);
}

.auth-divider::before {
  margin-right: 0.75rem;
}

.auth-divider::after {
  margin-left: 0.75rem;
}

.auth-divider span {
  text-transform: uppercase;
  font-weight: 500;
}
