<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter :ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-wrapper">
        <!-- brand -->
        <a href="/" class="navbar-brand">
          <img
            src="{{ url_for('static', filename='assets/brand.svg') }}"
            alt="brand"
          />
          <span>Library System</span>
        </a>

        <!-- avatar -->
        <div class="navbar-buttons" id="auth-buttons">
          <div class="avatar-dropdown hidden" id="avatar-dropdown">
            <button
              id="avatar-nav-btn"
              class="avatar-sm"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span id="avatar-letter"></span>
            </button>

            <ul id="avatar-menu" class="avatar-menu" role="menu">
              <!-- admin -->
              <li class="menu-item hidden" id="overview-link" role="menuitem">
                <a href="/admin" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/overview.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Overview</span>
                </a>
              </li>
              <li
                class="menu-item hidden"
                id="manage-books-link"
                role="menuitem"
              >
                <a href="/admin/manage-books" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/books.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Books</span>
                </a>
              </li>
              <li
                class="menu-item hidden"
                id="manage-users-link"
                role="menuitem"
              >
                <a href="/admin/manage-users" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/users.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Users</span>
                </a>
              </li>
              <li
                class="menu-item hidden"
                id="manage-borrowings-link"
                role="menuitem"
              >
                <a href="/admin/manage-borrowings" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/borrowings.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Borrowings</span></a
                >
              </li>
              <!-- user -->
              <li class="menu-item hidden" id="profile-link" role="menuitem">
                <a href="/user/profile" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/profile.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Profile</span>
                </a>
              </li>
              <li class="menu-item hidden" id="settings-link" role="menuitem">
                <a href="/user/settings" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/settings.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Settings</span>
                </a>
              </li>
              <li class="divider" role="separator"></li>
              <li class="menu-item" role="menuitem">
                <button class="btn-text" id="signout-btn">
                  <img
                    src="{{ url_for('static', filename='assets/icons/signout.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Sign out</span>
                </button>
              </li>
            </ul>
          </div>
          <!-- guest -->
          <button id="signin-btn" class="btn btn-outline hidden">
            Sign in
          </button>
          <button id="signup-btn" class="btn btn-primary hidden">
            Sign up
          </button>
        </div>
      </div>
    </nav>

    <!-- main content -->
    <main class="admin-page">
      <!-- REQUIRED ATTENTION -->
      <section class="attention-required">
        <!-- overdue -->
        <a href="/admin/manage-borrowings" id="overdue-link" class="hidden">
          <div class="attention-item overdue-attention card-sm">
            <div class="attention-title">
              <img src="/static/assets/icons/alarm.svg" alt="overdue" />
              <span>Overdue Borrowings</span>
            </div>
            <span id="overdue-attention-count" class="attention-count"></span>
          </div>
        </a>

        <!-- out of stock -->
        <a href="/admin/manage-books" id="stock-link" class="hidden">
          <div class="attention-item stock-attention card-sm">
            <div class="attention-title">
              <img src="/static/assets/icons/stock.svg" alt="overdue" />
              <span>Out of Stock Books</span>
            </div>
            <span id="stock-attention-count" class="attention-count"></span>
          </div>
        </a>
      </section>

      <!-- INDICATORS -->
      <section class="overview">
        <!-- users -->
        <a href="/admin/manage-users" class="overview-info card-sm">
          <div class="overview-info-header">
            <p class="overview-info-data" id="users-count"></p>
            <h3 class="overview-info-title">Users</h3>
          </div>
        </a>

        <!-- Books -->
        <a href="/admin/manage-books" class="overview-info card-sm">
          <div class="overview-info-header">
            <p class="overview-info-data" id="books-count"></p>
            <h3 class="overview-info-title">Books</h3>
          </div>
        </a>

        <!-- Borrowings -->
        <a href="/admin/manage-borrowings" class="overview-info card-sm">
          <div class="overview-info-header">
            <p class="overview-info-data" id="borrowings-count"></p>
            <h3 class="overview-info-title">Borrowings</h3>
          </div>
        </a>
      </section>

      <!-- RECENT ACTIVITY -->
      <section class="recent-activity-section card-sm">
        <div class="recent-activity-wrapper">
          <div class="list-header">
            <h4 class="list-header title">Recent Activity</h4>
            <a class="all-activity-link" href="/admin/activities"
              >View all activity</a
            >
          </div>
          <ul class="recent-activity-list" id="recent-activity"></ul>
        </div>
      </section>
    </main>

    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
