<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter :ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include "partials/_navbar.html" %}

    <!-- main content -->
    <main class="all-activity-page">
      <!-- RECENT ACTIVITY -->
      <section class="all-activity-section card-sm">
        <div class="all-activity-wrapper">
          <div class="list-header">
            <h4 class="list-header title">All Activity</h4>
          </div>
          <ul class="recent-activity-list" id="all-activity"></ul>
        </div>
      </section>
    </main>

    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
