<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include "partials/_navbar.html" %}

    <main class="book-page">
      <div id="toast" class="toast"></div>

      <!-- hero -->
      <section class="book-hero-section">
        <!-- brief and actions -->
        <div class="brief-wrapper">
          <div class="brief-texts">
            <h1 id="book-title"></h1>
            <h3 id="book-subtitle"></h3>
            <span
              >By <span id="by-author"></span> - <span id="published"></span
            ></span>
          </div>

          <!-- buttons -->
          <div class="book-actions">
            <button type="button" class="btn btn-primary" id="borrow-btn">
              <img
                src="{{url_for('static', filename='assets/icons/borrow-2.png')}}"
              />
              <span>Borrow</span>
            </button>

            <button type="button" class="btn btn-outline" id="favorite-btn">
              <img
                src="{{url_for('static', filename='assets/icons/favorite.png')}}"
              />
              Add to Favorites
            </button>
          </div>
        </div>

        <!-- cover -->
        <div class="img-availability">
          <img class="book-details-img" id="book-img" />
          <span id="book-status"></span>
        </div>
      </section>

      <!-- content -->
      <section class="book-details-content">
        <section class="book-details card-md">
          <!-- metadata & acitons -->
          <div class="book-info">
            <div class="book-details-header">
              <h4>About the book</h4>
              <span>_____</span>
            </div>
            <!-- metadata -->
            <div class="book-meta">
              <div class="meta-row">
                <span class="meta-label">ISBN</span>
                <span class="meta-colon">:</span>
                <span class="meta-value" id="book-isbn"></span>
              </div>

              <div class="meta-row">
                <span class="meta-label">Author</span>
                <span class="meta-colon">:</span>
                <span class="meta-value" id="book-author"></span>
              </div>

              <div class="meta-row">
                <span class="meta-label">Language</span>
                <span class="meta-colon">:</span>
                <span class="meta-value" id="book-language"></span>
              </div>

              <div class="meta-row">
                <span class="meta-label">Pages</span>
                <span class="meta-colon">:</span>
                <span class="meta-value" id="book-pages"></span>
              </div>

              <div class="meta-row">
                <span class="meta-label">Publisher</span>
                <span class="meta-colon">:</span>
                <span class="meta-value" id="book-publisher"></span>
              </div>

              <div class="meta-row">
                <span class="meta-label">Published</span>
                <span class="meta-colon">:</span>
                <span class="meta-value" id="book-published"></span>
              </div>
            </div>
          </div>
        </section>

        <!-- description -->
        <section class="book-description-card card-md">
          <h4>Book description</h4>
          <span>_____</span>
          <p id="book-description" class="description"></p>
        </section>
      </section>
    </main>

    <footer class="footer">© 2026 Midnight Library</footer>

    <!-- script -->
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
