<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- navbar -->
    <nav class="navbar">
      <div class="navbar-wrapper">
        <!-- brand -->
        <a href="/" class="navbar-brand">
          <img
            src="{{ url_for('static', filename='assets/brand.svg') }}"
            alt="brand"
          />
          <span>Library System</span>
        </a>

        <!-- avatar -->
        <div class="navbar-buttons" id="auth-buttons">
          <div class="avatar-dropdown hidden" id="avatar-dropdown">
            <button
              id="avatar-nav-btn"
              class="avatar-sm"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span id="avatar-letter"></span>
            </button>

            <ul id="avatar-menu" class="avatar-menu" role="menu">
              <!-- admin -->
              <li class="menu-item hidden" id="overview-link" role="menuitem">
                <a href="/admin" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/overview.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Overview</span>
                </a>
              </li>
              <li
                class="menu-item hidden"
                id="manage-books-link"
                role="menuitem"
              >
                <a href="/admin/manage-books" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/books.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Books</span>
                </a>
              </li>
              <li
                class="menu-item hidden"
                id="manage-users-link"
                role="menuitem"
              >
                <a href="/admin/manage-users" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/users.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Users</span>
                </a>
              </li>
              <li
                class="menu-item hidden"
                id="manage-borrowings-link"
                role="menuitem"
              >
                <a href="/admin/manage-borrowings" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/borrowings.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Borrowings</span></a
                >
              </li>
              <!-- user -->
              <li class="menu-item hidden" id="profile-link" role="menuitem">
                <a href="/user/profile" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/profile.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Profile</span>
                </a>
              </li>
              <li class="menu-item hidden" id="settings-link" role="menuitem">
                <a href="/user/settings" class="btn-text">
                  <img
                    src="{{ url_for('static', filename='assets/icons/settings.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Settings</span>
                </a>
              </li>
              <li class="divider" role="separator"></li>
              <li class="menu-item" role="menuitem">
                <button class="btn-text" id="signout-btn">
                  <img
                    src="{{ url_for('static', filename='assets/icons/signout.png') }}"
                    alt="profile"
                    width="20px"
                    height="20px"
                  />
                  <span>Sign out</span>
                </button>
              </li>
            </ul>
          </div>
          <!-- guest -->
          <button id="signin-btn" class="btn btn-outline hidden">
            Sign in
          </button>
          <button id="signup-btn" class="btn btn-primary hidden">
            Sign up
          </button>
        </div>
      </div>
    </nav>

    <!-- main content -->
    <main class="homepage-content">
      <!-- search field -->
      <div class="search-container">
        <div class="search-input-wrapper">
          <span class="search-icon">🔍</span>
          <!-- input -->
          <input
            id="search-field"
            class="search-all-field"
            type="input"
            placeholder="Search by isbn, title or author"
          />
          <!-- clear -->
          <button
            id="clear-search"
            class="clear-search-btn"
            type="button"
            aria-label="Clear search"
          >
            x
          </button>
          <!-- button -->
          <!-- <button id="search-btn" type="button">Search</button> -->
        </div>
      </div>
      <!-- books list -->
      <div class="all-books" id="books"></div>
    </main>

    <!-- script -->
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
