<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include "partials/_navbar.html" %}

    <!-- main content -->
    <main class="homepage-content">
      <!-- hero section -->
      <div class="hero-section">
        <!-- header -->
        <div class="hero-section-header">
          <img
            src="{{ url_for('static', filename='assets/logos/brand.png') }}"
            class="brand-lg"
          />
          <h1>Midnight Library</h1>
          <h2>Explore. Borrow.</h2>
          <h2>Read.</h2>
          <p>Explore and manage your reading world</p>
        </div>
        <div class="search-wrapper">
          <!-- search bar -->
          <form id="home-search-form" class="search-books">
            <span class="search-icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </span>
            <input
              id="home-search-input"
              class="search-input"
              name="q"
              type="input"
              placeholder="Find a book..."
            />
          </form>
        </div>
      </div>

      <div class="content">
        <div class="intro">
          <!-- explore -->
          <div class="intro-item card-md">
            <div class="intro-img-wrapper">
              <img
                src="{{url_for('static', filename='assets/homepage/explore.png')}}"
                alt="Explore"
              />
            </div>
            <div class="intro-texts-wrapper">
              <h1>Explore</h1>
              <p>
                Browse book that align with your interest to expand your
                knowledge.
              </p>
            </div>
          </div>

          <!-- borrow -->
          <div class="intro-item card-md">
            <div class="intro-img-wrapper">
              <img
                src="{{url_for('static', filename='assets/homepage/borrow.png')}}"
                alt="Explore"
              />
            </div>
            <div class="intro-texts-wrapper">
              <h1>Borrow</h1>
              <p>Borrow the desired book freely and enjoy.</p>
            </div>
          </div>

          <!-- Favorite -->
          <div class="intro-item card-md">
            <div class="intro-img-wrapper">
              <img
                src="{{url_for('static', filename='assets/homepage/favorite.png')}}"
                alt="Explore"
              />
            </div>
            <div class="intro-texts-wrapper">
              <h1>Favorite</h1>
              <p>
                Create your collection of favorited books you have read and
                liked.
              </p>
            </div>
          </div>

          <!-- Return -->
          <div class="intro-item card-md">
            <div class="intro-img-wrapper">
              <img
                src="{{url_for('static', filename='assets/homepage/return.png')}}"
                alt="Explore"
              />
            </div>
            <div class="intro-texts-wrapper">
              <h1>Return</h1>
              <p>
                After finishing reading the book return it to explore and borrow
                new books!.
              </p>
            </div>
          </div>
        </div>

        <!-- featured books -->
        <div class="featured">
          <div class="featured-texts-wrapper">
            <span>An interesting collection</span>
            <h1>Featured Books</h1>
            <p>Some of the interesting books that exists in the library</p>
          </div>
          <div id="featured-books" class="all-books featured"></div>
        </div>
      </div>
    </main>
    <footer class="footer">© 2026 Midnight Library</footer>

    <!-- script -->
    <script
      src="https://kit.fontawesome.com/0fa7007e9e.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
