<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Borrowings</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include "partials/_navbar.html" %}

    <!-- main content -->
    <main class="manage-page">
      <div id="toast" class="toast"></div>
      <section class="manage-section card-md">
        <!-- header -->
        <header class="table-header">
          <div class="header-title">
            <!-- title -->
            <h4 class="table-title">Borrowings</h4>
            <!-- search bar -->
            <div class="search-books table">
              <span class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>

              <input
                id="search-field"
                class="search-input"
                type="input"
                placeholder="Search for a borrowings..."
              />

              <button
                id="clear-search"
                class="clear-search-btn hidden"
                type="button"
                aria-label="Clear search"
              >
                <i class="fas fa-times-circle fa-lg"></i>
              </button>
            </div>

            <!-- filters -->
            <select id="borrowings-filters" class="filters-menu">
              <option value="all">All</option>
              <option value="active">Active</option>
              <option value="overdue">Overdue</option>
              <option value="returned">Returned</option>
            </select>
          </div>
        </header>

        <!-- table -->
        <table class="manage-books-table borrowings">
          <colgroup>
            <col style="width: 15%" />
            <col style="width: 35%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 8%" />
            <col style="width: 10%" />
          </colgroup>
          <thead>
            <tr>
              <th>User</th>
              <th>Book</th>
              <th>Borrowed at</th>
              <th>Due at</th>
              <th>Status</th>
              <th>Returned at</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="manage-borrowings-data"></tbody>
        </table>
      </section>
    </main>

    <!-- script -->
    <script
      src="https://kit.fontawesome.com/0fa7007e9e.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
