<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Books</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include "partials/_navbar.html" %}

    <!-- main content -->
    <main class="manage-page">
      <div id="toast" class="toast"></div>
      <section class="manage-section card-md">
        <!-- header -->
        <header class="table-header">
          <div class="header-title">
            <!-- title -->
            <h4 class="table-title">Users</h4>

            <!-- search bar -->
            <div class="search-books table">
              <span class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>

              <input
                id="search-field"
                class="search-input"
                type="input"
                placeholder="Search for a user..."
              />

              <button
                id="clear-search"
                class="clear-search-btn hidden"
                type="button"
                aria-label="Clear search"
              >
                <i class="fas fa-times-circle fa-lg"></i>
              </button>
            </div>
          </div>

          <!-- actions -->
          <div class="header-actions">
            <!-- open add user modal -->
            <button
              type="button"
              class="btn btn-outline"
              data-open-modal="#add-user"
            >
              Add user
            </button>
          </div>
        </header>

        <!-- table -->
        <table class="manage-books-table users">
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 30%" />
            <col style="width: 30%" />
            <col style="width: 25%" />
            <col style="width: 10%" />
          </colgroup>
          <thead>
            <tr>
              <th>ID</th>
              <th>Username</th>
              <th>Email</th>
              <th>Joined Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="manage-users-data"></tbody>
        </table>
      </section>
    </main>

    <!-- add user modal -->
    <div id="add-user" class="model hidden" data-modal>
      <div class="model-content manage-users">
        <!-- close form -->
        <img
          src="{{url_for('static', filename='assets/icons/close.png')}}"
          class="close-form-btn"
          data-close-modal
        />
        <!-- form -->
        <form data-form-type="add-user" data-user-id="">
          <!-- title -->
          <div class="form-row">
            <h1>Add User</h1>
          </div>

          <span class="card-divider"></span>

          <!-- inputs -->
          <div class="inputs form-row">
            <div class="input">
              <p>Username</p>
              <input
                type="text"
                name="username"
                class="field-model"
                placeholder="Username"
              />
            </div>

            <div class="input">
              <p>Email Address</p>
              <input
                type="text"
                name="email"
                class="field-model"
                placeholder="Email Address"
              />
            </div>

            <div class="input">
              <p>Password</p>
              <input
                type="password"
                name="password"
                class="field-model"
                placeholder="Password"
              />
            </div>
          </div>

          <span class="card-divider"></span>

          <!-- submit -->
          <div class="form-row">
            <button class="btn btn-primary btn-model" type="submit">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- edit model -->
    <div id="edit-user" class="model hidden" data-modal>
      <div class="model-content manage-users">
        <!-- close form -->
        <img
          src="{{url_for('static', filename='assets/icons/close.png')}}"
          class="close-form-btn"
          data-close-modal
        />
        <!-- edit form -->
        <form data-form-type="edit-user" data-user-id="">
          <!-- title -->
          <div class="form-row">
            <h1>Update User</h1>
          </div>

          <span class="card-divider"></span>

          <!-- inputs -->
          <div class="inputs form-row">
            <div class="input">
              <p>Username</p>
              <input
                type="text"
                name="username"
                class="field-model"
                placeholder="Username"
              />
            </div>

            <div class="input">
              <p>Email Address</p>
              <input
                type="text"
                name="email"
                class="field-model"
                placeholder="Email Address"
              />
            </div>
          </div>

          <span class="card-divider"></span>

          <!-- submit -->
          <div class="form-row">
            <button class="btn btn-primary btn-model" type="submit">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- script -->
    <script
      src="https://kit.fontawesome.com/0fa7007e9e.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
