<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Manage Books</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    {% include "partials/_navbar.html" %}

    <!-- main content -->
    <main class="manage-page">
      <div id="toast" class="toast"></div>
      <section class="manage-section card-md">
        <!-- header -->
        <header class="table-header">
          <div class="header-title">
            <!-- title -->
            <h4 class="table-title">Books</h4>

            <!-- search bar -->
            <div class="search-books table">
              <span class="search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </span>

              <input
                id="search-field"
                class="search-input"
                type="input"
                placeholder="Search for a book..."
              />

              <button
                id="clear-search"
                class="clear-search-btn hidden"
                type="button"
                aria-label="Clear search"
              >
                <i class="fas fa-times-circle fa-lg"></i>
              </button>
            </div>
          </div>

          <!-- actions -->
          <div class="header-actions">
            <button
              type="button"
              class="btn btn-outline prefix-icon"
              data-open-modal="#add-book"
            >
              <i class="fa-solid fa-book fa-sm"></i>
              Add Book
            </button>
          </div>
        </header>

        <!-- table -->
        <table class="manage-books-table books">
          <colgroup>
            <col style="width: 5%" />
            <col style="width: 40%" />
            <col style="width: 40%" />
            <col style="width: 5%" />
            <col style="width: 10%" />
          </colgroup>
          <thead>
            <tr>
              <th>ID</th>
              <th>Title</th>
              <th>Author</th>
              <th>Copies</th>
              <th></th>
            </tr>
          </thead>
          <tbody id="manage-books-data"></tbody>
        </table>
      </section>
    </main>

    <!-- add book model -->
    <div id="add-book" class="model hidden" data-modal>
      <div class="model-content manage-books">
        <!-- close form -->
        <img
          src="{{url_for('static', filename='assets/icons/close.png')}}"
          class="close-form-btn"
          data-close-modal
        />
        <!-- form -->
        <form data-form-type="add-book">
          <!-- title -->
          <div class="form-row">
            <h1>Add Book</h1>
          </div>

          <span class="card-divider"></span>

          <!-- inputs -->
          <div class="inputs form-row">
            <div class="book-form-fields">
              <input
                class="field-model"
                type="text"
                name="isbn"
                placeholder="ISBN"
              />
              <input
                class="field-model"
                type="text"
                name="title"
                placeholder="Title"
              />
              <input
                class="field-model"
                type="text"
                name="subtitle"
                placeholder="Subtitle"
              />
              <input
                class="field-model"
                type="text"
                name="author"
                placeholder="Author"
              />
              <input
                class="field-model"
                type="number"
                name="page_count"
                placeholder="Pages"
              />
              <input
                class="field-model"
                type="text"
                name="language"
                placeholder="Language"
              />
              <input
                class="field-model"
                type="text"
                name="publisher"
                placeholder="Publisher"
              />
              <input
                class="field-model"
                type="text"
                name="published_at"
                placeholder="Published Date"
              />
              <input
                class="field-model"
                type="number"
                name="total_copies"
                placeholder="Total Copies"
              />
              <textarea name="description" class="field-model"> </textarea>
            </div>

            <!-- img -->
            <label class="file-upload">
              <input
                class="form-img-file"
                id="add-form-img-file"
                type="file"
                name="book_img"
                accept="image/*"
                hidden
              />
              <span class="file-btn">Upload cover</span>
              <span class="file-name" id="add-book-file-name"
                >No file selected</span
              >
            </label>
          </div>

          <span class="card-divider"></span>

          <!-- submit -->
          <div class="form-row">
            <button class="btn btn-primary btn-model" type="submit">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- edit book model -->
    <div id="edit-book" class="model hidden" data-modal>
      <div class="model-content">
        <!-- close form -->
        <img
          src="{{url_for('static', filename='assets/icons/close.png')}}"
          class="close-form-btn"
          data-close-modal
        />
        <!-- form -->
        <form data-form-type="edit-book" data-book-id="">
          <!-- title -->
          <div class="form-row">
            <h1>Edit Book</h1>
          </div>

          <span class="card-divider"></span>

          <!-- inputs -->
          <div class="inputs form-row">
            <div class="book-form-fields">
              <input
                class="field-model"
                type="text"
                name="isbn"
                placeholder="ISBN"
              />
              <input
                class="field-model"
                type="text"
                name="title"
                placeholder="Title"
              />
              <input
                class="field-model"
                type="text"
                name="subtitle"
                placeholder="Subtitle"
              />
              <input
                class="field-model"
                type="text"
                name="author"
                placeholder="Author"
              />
              <input
                class="field-model"
                type="number"
                name="page_count"
                placeholder="Pages"
              />
              <input
                class="field-model"
                type="text"
                name="language"
                placeholder="Language"
              />
              <input
                class="field-model"
                type="text"
                name="publisher"
                placeholder="Publisher"
              />
              <input
                class="field-model"
                type="text"
                name="published_at"
                placeholder="Published Date"
              />
              <input
                class="field-model"
                type="number"
                name="total_copies"
                placeholder="Total Copies"
              />
              <input
                class="field-model"
                type="text"
                name="description"
                placeholder="Description"
              />
            </div>

            <!-- img -->
            <label class="file-upload">
              <input
                class="form-img-file"
                id="edit-form-img-file"
                type="file"
                name="book_img"
                accept="image/*"
                hidden
              />
              <span class="file-btn">Upload cover</span>
              <span class="file-name" id="edit-book-file-name"
                >No file selected</span
              >
            </label>
          </div>

          <span class="card-divider"></span>

          <!-- submit -->
          <div class="form-row">
            <button class="btn-model btn btn-primary" type="submit">
              Confirm
            </button>
          </div>
        </form>
      </div>
    </div>

    <!-- script -->
    <script
      src="https://kit.fontawesome.com/0fa7007e9e.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
