<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Library Management System</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
  </head>
  <body>
    <!-- navbar -->
    {% include "partials/_navbar.html" %}

    <!-- main content -->
    <main class="profile-page">
      <!-- hero -->
      <section class="identity-section">
        <!-- user info -->
        <div class="identity-header">
          <div class="avatar-profile" id="profile-avatar"></div>

          <div class="identity-info">
            <span class="username" id="profile-username"></span>
            <span class="email" id="profile-email"></span>
          </div>
        </div>

        <!-- subpages -->
        <div class="profile-subpages-wrapper">
          <ul id="profile-subpages" class="profile-subpages">
            <li id="borrowings-subpage" class="subpage">
              <i class="fa-regular fa-clock"></i>
              Borrowings
            </li>
            <li id="history-subpage" class="subpage">
              <i class="fa-solid fa-clock-rotate-left fa-sm"></i>
              History
            </li>
            <li id="favorites-subpage" class="subpage">
              <i class="fa-solid fa-star fa-sm"></i>
              Favorites
            </li>
            <li id="settings-subpage" class="subpage">
              <i class="fa-solid fa-gear fa-sm"></i>
              Settings
            </li>
          </ul>
        </div>
      </section>

      <!-- content -->
      <div class="profile-content" id="profile-content">
        <!-- borrowings -->
        <section
          id="profile-borrowings-table"
          class="profile-section card-md hidden"
        >
          <!-- header -->
          <div class="table-header">
            <h4 class="title">Borrowings</h4>
          </div>
          <!-- table -->
          <table class="profile-table active-borrowings">
            <colgroup>
              <col style="width: 5%" />
              <col style="width: 25%" />
              <col style="width: 15%" />
              <col style="width: 15%" />
              <col style="width: 10%" />
              <col style="width: 10%" />
            </colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Borrowed Date</th>
                <th>Due Date</th>
                <th>Status</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="active-borrowings"></tbody>
          </table>
        </section>

        <!-- history -->
        <section
          id="profile-history-table"
          class="profile-section card-md hidden"
        >
          <div class="table-header">
            <h4 class="title">History</h4>
          </div>
          <!-- table -->
          <table class="profile-table history">
            <colgroup>
              <col style="width: 5%" />
              <col style="width: 50%" />
              <col style="width: 22%" />
              <col style="width: 22%" />
              <col style="width: 1%" />
            </colgroup>
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Borrowed Date</th>
                <th>Returned Date</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="borrowings-history"></tbody>
          </table>
        </section>

        <!-- favorites -->
        <section id="favorites-table" class="profile-section card-md hidden">
          <div class="table-header">
            <h4 class="title">Favorites</h4>
          </div>
          <!-- table -->
          <table class="profile-table favorites">
            <colgroup>
              <col style="width: 80%" />
              <col style="width: 20%" />
            </colgroup>
            <thead>
              <tr>
                <th>Title</th>
                <th></th>
              </tr>
            </thead>
            <tbody id="favorite-books"></tbody>
          </table>
        </section>

        <!-- settings -->
        <section id="profile-settings" class="profile-settings hidden">
          <!-- account info -->
          <div class="info-card card-md">
            <div class="row">
              <h1 class="info-card-title">Account Info</h1>
            </div>

            <span class="card-divider"></span>

            <!-- open username modal -->
            <div class="row">
              <div>
                <p class="row-label">Username</p>
                <!-- username -->
                <p class="row-value" id="info-username"></p>
              </div>
              <button
                class="btn btn-outline"
                type="button"
                data-open-modal="#username-modal"
              >
                Update Username
              </button>
            </div>

            <!-- update username form -->
            <div id="username-modal" class="model hidden" data-modal>
              <div class="model-content profile">
                <!-- close form -->
                <img
                  src="{{url_for('static', filename='assets/icons/close.png')}}"
                  class="close-form-btn"
                  data-close-modal
                />
                <!-- form -->
                <form data-form-type="username">
                  <div class="form-row">
                    <h1>Update Your Username</h1>
                  </div>

                  <span class="card-divider"></span>

                  <div class="inputs">
                    <div class="input form-row">
                      <p>New Username</p>
                      <input
                        type="text"
                        name="username"
                        class="field-model"
                        placeholder="Username"
                        requird
                      />
                    </div>
                  </div>

                  <span class="card-divider"></span>

                  <div class="form-row">
                    <button
                      class="btn-model btn btn-primary profile"
                      type="submit"
                    >
                      Confirm
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <span class="card-divider"></span>

            <!-- open email address modal -->
            <div class="row">
              <div>
                <p class="row-label">Email Address</p>
                <!-- email -->
                <p class="row-value" id="info-email"></p>
              </div>
              <button
                class="btn btn-outline"
                type="button"
                data-open-modal="#email-modal"
              >
                Update Email
              </button>
            </div>

            <!-- update email form -->
            <div id="email-modal" class="model hidden" data-modal>
              <div class="model-content profile">
                <!-- close form -->
                <img
                  src="{{url_for('static', filename='assets/icons/close.png')}}"
                  class="close-form-btn"
                  data-close-modal
                />
                <!-- form -->
                <form data-form-type="email">
                  <div class="form-row">
                    <h1>Update Your Email Address</h1>
                  </div>

                  <span class="card-divider"></span>

                  <div class="inputs">
                    <div class="input form-row">
                      <p>New Email Address</p>
                      <input
                        type="email"
                        name="email"
                        class="field-model"
                        placeholder="Email Address"
                        required
                      />
                    </div>
                  </div>

                  <span class="card-divider"></span>

                  <div class="form-row">
                    <button
                      class="btn btn-primary btn-model profile"
                      type="submit"
                    >
                      Confirm
                    </button>
                  </div>
                </form>
              </div>
            </div>

            <span class="card-divider"></span>

            <!-- open password modal -->
            <div class="row">
              <div>
                <p class="row-label">Password</p>
                <!-- password -->
                <p class="row-value">•••••••••</p>
              </div>
              <!-- open modal -->
              <button
                class="btn btn-outline"
                type="button"
                data-open-modal="#password-modal"
              >
                Update Password
              </button>
            </div>

            <!-- update password form -->
            <div id="password-modal" class="model hidden" data-modal>
              <div class="model-content profile">
                <!-- close form -->
                <img
                  src="{{url_for('static', filename='assets/icons/close.png')}}"
                  class="close-form-btn"
                  data-close-modal
                />
                <!-- form -->
                <form data-form-type="password">
                  <div class="form-row">
                    <h1>Update Your Password</h1>
                  </div>

                  <span class="card-divider"></span>

                  <div class="inputs form-row">
                    <!-- error -->
                    <div id="form-error" class="hidden">
                      <div id="error" class="error"></div>
                    </div>

                    <div class="input">
                      <p>Current Password</p>
                      <input
                        type="password"
                        name="current-password"
                        placeholder="Password"
                        class="field-model"
                        required
                      />
                    </div>
                    <div class="input">
                      <p>New Password</p>
                      <input
                        type="password"
                        name="new-password"
                        placeholder="Password"
                        class="field-model"
                        required
                      />
                    </div>

                    <div class="input">
                      <p>Confirm Password</p>
                      <input
                        type="password"
                        name="confirm-password"
                        placeholder="Password"
                        class="field-model"
                        required
                      />
                    </div>
                  </div>

                  <span class="card-divider"></span>

                  <div class="form-row">
                    <button
                      class="btn btn-primary btn-model profile"
                      type="submit"
                    >
                      Confirm
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </section>
      </div>

      <div id="toast" class="toast"></div>
    </main>

    <footer class="footer">© 2026 Midnight Library</footer>

    <!-- script -->
    <script
      src="https://kit.fontawesome.com/0fa7007e9e.js"
      crossorigin="anonymous"
    ></script>
    <script
      type="module"
      src="{{ url_for('static', filename='js/app.js') }}"
    ></script>
  </body>
</html>
